{% extends "layout.html.twig" %}

{% block content %}
    <h2>Configure {{ handleableEntity.name }}</h2>
    {% if saved %}
        <div class="alert alert-primary" role="alert">
            Saved! Probably you need to restart <strong>{{ handleableEntity.name }}</strong>
        </div>
    {% endif %}
    <form action="?action=configure&server={{ request.server }}&application={{ request.application }}" method="post">
        {% for configFile in configFiles %}
            {% if configFile.readonly %}
                <div class="form-group">
                    <label for="exampleFormControlTextarea1"> {{ configFile.filename }}</label>
                    <textarea name="file_{{ loop.index0 }}" readonly="readonly"
                              class="form-control" id="exampleFormControlTextarea1" rows="15">{{ configFile.content }}</textarea>
                </div>
            {% else %}
                <div class="form-group">
                    <label for="exampleFormControlTextarea1"> {{ configFile.filename }}</label>
                    <textarea name="file_{{ loop.index0 }}"
                              class="form-control" id="exampleFormControlTextarea1" rows="15">{{ configFile.content }}</textarea>
                </div>
            {% endif %}
        {% endfor %}


        <div class="float-right">
            <a href="/" class="btn btn-light mr-4">Back</a>
            <input type="submit" name="save" class="btn btn-primary mr-3" value="Save" />
            <!--input type="submit" name="save_and_restart" class="btn btn-primary" value="Save & Restart Server" /-->
        </div>
    </form>
{% endblock %}