{% extends "layout.html.twig" %}

{% block content %}
    {% for server in servers %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="25%">{{ server.name }}</th>
                <th width="10%">
                    {% include  'OnlineBadge.html.twig' with {'entity': server} %}
                </th>
                <th width="10%">
                    {% include  'StartStopButton.html.twig' with {'entity': server, server: server} %}
                </th>
                <th width="55%">
                    {% if server.autoShutdownEnabled and server.isOnline %}
                        Next shutdown: ~{{ server.nextShutdownAt|date("H:i") }}
                        (<a href="?action=resetShutdownTimer&server={{ server.identifier }}">reset<a/>)
                    {% endif %}
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for application in server.applications %}
                <tr>
                    <td>{{ application.name }}</td>
                    <td>
                        {% include  'OnlineBadge.html.twig' with {'entity': application} %}
                    </td>
                    <td>
                        {% if server.isOnline %}
                            {% include  'StartStopButton.html.twig' with {'entity': application, server: server, application: application} %}
                        {% endif %}
                    </td>
                    <td>
                        {{ application.additionalInfos|raw }}
                    </td>
                    <td>
                        {% if application.updatable %}
                            <a href="?action=update&server={{ server.identifier }}&application={{ application.identifier }}"
                               class="btn btn-light">
                                Update
                            </a>
                        {% endif %}
                        {% if application.configurable %}
                            <a href="?action=configure&server={{ server.identifier }}&application={{ application.identifier }}"
                               class="btn btn-light">
                                Configure
                            </a>
                        {% endif %}
                        {% if application.backupable %}
                            <a href="?action=backup&server={{ server.identifier }}&application={{ application.identifier }}"
                               class="btn btn-light">
                                Backup
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for information in server.informations %}
                <tr>
                    <td>{{ information.name }}</td>
                    <td></td>
                    <td></td>
                    <td>
                        {% if information.text %}
                            {{ information.text|raw }}
                        {% endif %}
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endfor %}
{% endblock %}