{% if (entity.startable and not entity.isOnline) or (entity.stoppable and entity.isOnline) %}
    <a href="?action={% if entity.isOnline %}stop{% else %}start{% endif %}&server={{ server.identifier }}{% if application %}&application={{ application.identifier }}{% endif %}"
       class="btn btn-light">
        {% if entity.isOnline %}Stop{% else %}Start{% endif %}
    <a/>
{% endif %}